<div class="hero-unit">
	<h1>Welcome to one month rails!</h1>
	<p>
		You found 
		<%= link_to "Edit Blink", "http://editblink.com" %>
		intro page!
		<p>

			<%= link_to "Sign Up!", new_client_registration_path, class: "btn btn-large" %>
		</P>
	</p>
</div>
